manifests:
{{- if env "ELASTICSEARCH_PASSWORD" }}
  - metadata:
      name: elasticsearch-credentials
    apiVersion: v1
    kind: Secret
    data:
      password: {{ env "ELASTICSEARCH_PASSWORD" | b64enc }}
{{- end }}
{{- if eq (env "AUTH_TYPE") "uaa" }}
  - metadata:
      name: elastic-oidc-client
    apiVersion: v1
    kind: Secret
    data:
      client-secret: {{ requiredEnv "ELASTICSEARCH_OIDC_CLIENT_SECRET" | b64enc }}
{{- end }}