charts:
  ## Metrics
  grafana:
    enabled: true

  prometheus:
    enabled: true

  prometheusDev:
    enabled: true

  prometheusProd:
    enabled: true

  metricServer:
    enabled: true

  prometheus-blackbox-exporter:
    enabled: true


  ## Logging
  
  fluentbit:
    enabled: true    

  kibana:
    enabled: true
  
  elasticsearch:
    enabled: true
  
